body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F7F4ED;
    /* text-align: center; */
    margin: 0;
    padding: 20px;
}

.hidden {
    display: none !important;
}

.italic {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

#header-h1 {
    text-align: center;
    font-family: Fraunces, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #242424;
}

header {
    border-bottom: 1px solid #242424;
    margin-bottom: 30px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.col-1 {
    flex: 1 1 300px;
    max-width: 400px;
    background: #F7F4ED;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-2 {
    flex: 1 1 300px;
    max-width: 300px;
    height: max-content;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: Fraunces, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-family: Fraunces, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 20px;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #242424;
    padding-top: 10px;
    font-size: 0.8em;
}

input,
button {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type="submit"] {
    border: none;
    background: #4aaaa5;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

div {
    margin: 10px;
}

.div-post {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.div-post h3 {
    font-size: 2em;
    margin-bottom: 10px;
}